<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tradegame"
    android:versionCode="1"
    android:versionName="1.0.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"  />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"  />
    <uses-permission android:name="android.permission.GET_TASKS"  />

    <!--8.0安装需要的权限-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="22" />

    <application
      android:name=".MainApplication"
      android:allowBackup="true"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:theme="@style/AppTheme">

      <meta-data
        tools:replace="android:value"
        android:name="android.support.VERSION"
        android:value="${buildToolsVersion}" />

      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
        android:windowSoftInputMode="adjustResize">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>
      <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />


        <service
            android:name="com.apptalkingdata.push.service.PushService"
            android:process=":push"
            android:exported="true">
        </service>

        <receiver android:name="com.apptalkingdata.push.service.PushServiceReceiver" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.CMD"></action>
                <action android:name="android.talkingdata.action.notification.SHOW"></action>
                <action android:name="android.talkingdata.action.media.MESSAGE"></action>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"></action>
                <action android:name="android.intent.action.USER_PRESENT"></action>
            </intent-filter>
        </receiver>
        <receiver android:name="com.tendcloud.tenddata.TalkingDataAppMessageReceiver" android:enabled="true">
            <intent-filter>
                <action android:name="android.talkingdata.action.media.SILENT"></action>
                <action android:name="android.talkingdata.action.media.TD.TOKEN"></action>
            </intent-filter>
            <intent-filter>
                <action android:name="com.talkingdata.notification.click"></action>
                <action android:name="com.talkingdata.message.click"></action>
            </intent-filter>
        </receiver>

        <meta-data
            android:name="TD_APP_ID"
            android:value="${TD_APP_ID}"/>
        <meta-data
            android:name="TD_CHANNEL_ID"
            android:value="${TD_CHANNEL_ID}" />


        // 添加fileProvider配置代码
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.updateFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/update_file_provider" />
        </provider>

        // 添加Service代码
        <service
            android:name=".android_upgrade.DownloadService"
            android:exported="true" />

    </application>

</manifest>
