<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="redisConnectionString" value="Password77__@139.219.234.113:6379" />

    <!--price demo UAT-->
    <add key="ayondoFixFeedCfgFilePath" value="AyondoFeed_UAT.cfg" />
    <add key="ayondoFixFeedUsername" value="thcnuatprices" />
    <add key="ayondoFixFeedPassword" value="slktrp2" />
  </appSettings>
</configuration>